.post {
  width: 100%;
  margin-bottom: 2rem;
  border: 1.5px solid rgb(219, 217, 217);
  background-color: #ffffff;

  img {
    width: inherit;
    object-fit: cover;
    max-height: 40rem;
    border-top: 0.5px solid rgb(230, 228, 228);
    border-bottom: 0.5px solid rgb(230, 228, 228);
  }
}

.post-header {
  display: flex;
  align-items: center;
  margin: 1rem;
  img {
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    object-fit: cover;
  }
  p {
    flex: 1;
    font-size: small;
    font-weight: 600;
    margin-left: 1rem;
  }
}

.post-icons {
  padding: 1rem 1rem 0rem 1rem;
  svg {
    margin-right: 0.5rem;
    cursor: pointer;
    height: 1.75rem;
    width: 1.75rem;
  }
}

.heart-red {
  color: red;
}

.post__total-likes {
  padding-left: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.post-description,
.post-comments {
  padding: 0.5rem;
  div {
    margin: 0.1rem 0rem;
  }
  span {
    font-weight: 600;
    font-size: small;
  }
  p {
    font-size: smaller;
  }
}

.post-comments {
  max-height: 4rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
  }
}

.post-form {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.5px solid rgb(230, 228, 228);
  svg {
    margin-right: 0.5rem;
    cursor: pointer;
    height: 1.75rem;
    width: 1.75rem;
  }
  input[type="text"] {
    outline: none;
    padding: 0.5rem;
    border-style: none;
    width: 100%;
  }
  button {
    cursor: pointer;
    border-style: none;
    color: #0095f6;
    background-color: #ffffff;
    font-weight: 600;
    &:disabled {
      color: #71bff3;
      cursor: auto;
    }
  }
}
