.stories-wrapper {
  display: flex;
  max-width: 30rem;
  margin: auto;
  overflow-x: scroll;
  border: 1.5px solid rgb(219, 217, 217);
  scrollbar-width: thin;
  background-color: #ffffff;
  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
  }

  @media (max-width: 510px) {
    width: 100%;
  }
}
