* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: #fafafa;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}

@import "./header";
@import "./feed";
@import "./stories";
@import "./story";
@import "./posts";
@import "./post";
@import "./suggestions";

/* 
@import "./post";
@import "./feed";
 */
